/* Re usable classes */


$white: #FFFFFF;


/* Page styling */
.main{
  .info{
    font-size: 11px;

    .row{
      div{
        border: 0.3px solid;
        padding: 10px 0px;
      }
    }
  }
}
.navbar{
  text-transform: uppercase;
  font-size: 12px;
}
.dropdown-item{
  font-size: 12px;
  text-transform: capitalize;
}
.purple{
  a{
    color: #622DF8;
  }
}


/* Bottom page pre footer styling */

.bottompage{
  background-color:rgb(27, 29, 31);
  color:rgb(119, 119, 119);
  padding-top:60px;
  font-size:17px;

  img{
    height:13%;
    width:13%;
    margin-bottom:20px;
  }

  h3{
    color:white;
    text-transform:uppercase;
    font-size:inherit;
    margin-bottom: 40px;
  }
  a{
    color:inherit;
    &:hover{
      font-weight:bold;
      text-decoration: none;
      transition-duration: 0.2s;
    }
  }
  ul{

    padding:0;
    margin:0;
  }
  li{
    list-style-type: none;
    padding-bottom:12px;

  }
  .minititle{
    font-size:93%;
  }
}


.date{
  width:100%;
  border-top:solid 1px rgb(119, 119, 119);
  text-transform: uppercase;
  font-size:12px;
  padding-top:2px;
}

.white{
  color:$white;
}

/* footer styling */

footer{
  background-color:rgb(19, 21, 22);
  color:grey;
  height: 70px;
}
.socials{
  font-size: 17px;
  p, a{
    margin: 0;
  }
  a{
    color:grey;
  }
}
.box-2{
    background-color: #F6F6F6;
}
.setup{
  text-align: center;
  width: 700px;
}
