@import "home-main";
@import "background";

/*COLORS*/
$white: #FFFFFF;
$purple: #622DF8;

.white{
  color:$white;
}

/*background colors*/

.greyback{
  background-color: #f5f5f5;
}
.black{
  background-color: black;
}
.purple{
  background-color: $purple;
}
.whiteback{
  background-color: $white;
}
// buttons

.purchase1{
  text-transform:uppercase;
  background-color:$purple;
  padding:12px 30px;
  color:white;
  border-radius:2px;
  letter-spacing:1.3px;
}
.learnmore{
  border: 1px solid $purple;
  border-radius: 3px;
  padding: 1rem;
  font-size: 12px;
  letter-spacing: 1px;
  color: $white;
  background-color: $purple;
}

.explore{
  border: 2px solid #FFF;
  border-radius: 3px;
  width: 170px;
  text-align: center;
  padding: 7px;
  font-size: 13px;
  font-weight: bold;
  letter-spacing:1.3px;
  a{
    color: #FFF;
    text-transform: uppercase;
  }
}
.purchase{
  color: $white;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  padding: 15px 30px;
}
.btlearn{
  border: 1px solid $white;
  border-radius: 4px;
  width: 120px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  letter-spacing: 1px;
  text-align: center;
}
.learn-white{
  a{
    color: grey;
  }
  background-color: #FFF;
}
.learn-mont{
  a{
    color: $white;
  }
}
.learn-purple{
  a{
    color: $white;
  }
  background-color: $purple;
  border-color: $purple;
}
/* Re usable classes */

.upperbottom{
  padding: 5rem 0;
}
.smallspace{
  padding: 2rem;
}
.sidepad{
  padding: 0 5rem;
}
.space{
  padding-top: 5rem;
}
.pad{
  padding: 6rem;
}
.pad-updown{
  padding: 20px 0;
}

.borderbottom{
  border-bottom:1px solid rgba(242, 242, 242, 0.32);
}

/* Page styling */

html, body{
  width: 100%;
  height: 100%;
  overflow-x:hidden;
}
body{
  font-family: "Poppins";
  .info{
    font-size: 11px;
    .row{
      div{
        padding: 10px 0px;
      }
    }
  }
}

.navbar{
  text-transform: uppercase;
  font-size: 12px;
  padding: 20px 16px;
  .nav-link{
    text-transform:uppercase;
    font-weight:bold;
    color:black;
  }
  a{
    margin: 0;
  }
}

h1{
  text-transform: uppercase;
  font-weight: bold;
}

.features, .center{
  text-align: center;
}

.upper-divider{
  height: 3px;
  width: 100px;
  margin-top: 10px;
  background-color: $purple;
}

.divider-ipad{
  margin: 30px 0 20px 0;
  background-color: $purple;
  width: 50px;
  height: 3px;
}

.tools-main{
  .icons{
    font-size: 45px;
    padding-bottom: 10px;
  }
  h6{
    font-weight: bold;
    text-transform: capitalize;
    font-size: 25px;
  }
}

.img-row{
  .col{
    padding: 0;
  }
  img{
    width: 100%;
  }
}

.prefooter{
  p, a{
    margin: 0;
    color: $white;
  }
}

/* Bottom page pre footer styling */

.bottompage{
  background-color:rgb(27, 29, 31);
  color:rgb(119, 119, 119);
  padding-top:60px;
  font-size:17px;
  img{
    height:13%;
    width:13%;
    margin-bottom:20px;
  }
  h3{
    color:white;
    text-transform:uppercase;
    font-size:inherit;
    margin-bottom: 40px;
  }
  a{
    color:inherit;
    &:hover{
      font-weight:bold;
      text-decoration: none;
      transition-duration: 0.2s;
    }
  }
  ul{
    padding:0;
    margin:0;
  }
  li{
    list-style-type: none;
    padding-bottom:12px;
  }
  .minititle{
    font-size:93%;
  }
}

.date{
  width:100%;
  border-top:solid 1px rgb(119, 119, 119);
  text-transform: uppercase;
  font-size:12px;
  padding-top:2px;
}

.logos{
  img{
    height:60%;
    padding:12px 0px;
  }
}

/* footer styling */

footer{
  background-color:rgb(19, 21, 22);
  color:grey;
  height: 70px;
  font-family: "Poppins";
}

.socials{
  font-size: 17px;
  p, a{
    margin: 0;
  }
  a{
    color:grey;
  }
}

.testimonials{
  height: 500px;
  h4{
    font-size:14px;
    color:black;
    text-transform: uppercase;
    font-weight:bold;
  }
  h5{
    font-size:12px;
    color:rgba(0,0,0,0.3);
  }
}

.carousel-indicators{
  bottom:-40px;
.active{
    background-color: rgba(0,0,0,0.8);
    height:13px;
    width:13px;
  }
  li{
    background-color: rgba(0,0,0,0.5);
    border-radius:50%;
    height:10px;
    width:10px;
  }
}

.blogposts{
  background-color:rgba(0,0,0,0.1);
  padding:50px 0;
}

.infos{
  h4{
    font-size:13px;
  }
  h2{
    font-size:30px;
    font-weight:bold;
  }
}

.blogpostscontent{
  margin:0 auto;
  width:80%;

  h4{
    color:rgba(0,0,0,0.4);
  }
  hr{
    width:30%;
    height:2px;
    background-color:blue;
  }

  .card{
    color:white;
    text-transform:uppercase;
    letter-spacing:1.2px;
    p{
      width:80%;
    }
    .date{
      color:white;
      font-size:12px;

      opacity:0.9;
      font-weight:lighter;
    }
    span{
      font-size:10px;
      opacity:0.9;
      padding-top:1px;
    }
  }
}

// Digital agency Page

.agency, .blog-grid{
  .carousel-caption{
    h4,h1,a{
      position:relative;
    }
    h4{
      top:25px;
    }
    h1{
      top:50px;
    }
    a{
      top:90px;
    }
  }
  .notsobigpls{
    font-size:45px;
    width:40%;
  }
  .bluez{
    color:lightblue;
    font-size:1.2rem;
    width:70%;
    padding-top:30px;
    margin-top:200px;
  }
  .b3{
    background-color: #F5F5F5;
    h6{
      font-weight: bold;
    }
    p{
      font-size: 14px;
      color: #8A8A8A;
    }
  }
  .features{
    background-color: $white;
  }
    .bord{
      border:solid rgba(255,255,255,0.5) 0.5px;
    }
    .bordhard{
      border:solid rgba(255,255,255,1) 1px;
    }
  .info{
    color: $white;
  }
  .upper-divider{
    margin-bottom: 20px;
  }
  .fixed{
    z-index:9999;
    position:fixed;
    top:0;
    width:100%;
  }
  nav{
    .nav-link{
      color: $white;
      font-weight: bold;
    }
  }
  .social{
    list-style-type: none;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-direction:row;
    a{
      font-size:18px;
      color:$white;
      padding:0 10px;
      :hover{
        color:black;
      }
    }
  }
}

.trans{
  color:white;
  margin-top:30px;
  border:solid 1px rgba(255,255,255,0.5) ;
  padding:5px 15px ;
}

// Section-style Page

.topcontent{
  color:white;
  background:linear-gradient(
  rgba(0,0,0,0.3),
  rgba(0,0,0,0.3)),
  url('../images/34253245-1.jpg') ;
  background-size:cover;
  h2,h4{
    margin: 0;
  }
  h2{
    font-size:60px;
    text-transform:uppercase;
  }
  h4{
    color:rgba(255,255,255,0.5);
    font-size:20px;
  }
}

.section-style{
  .space{
    padding-top: 12rem;
  }
  .card-text{
    h5{
      font-weight:bold;
    }
    h5,p{
      padding-left:20px;
    }
  }
  .b8{
    h6{
      font-weight: bold;
      font-size: 20px;
    }
    p{
      font-size: 15px;
      margin: 8px 0;
    }
  }
  .update-software{
    h3{
      text-transform: uppercase;
      font-weight: bold;
      font-size: 35px;
      text-align: left;
    }
  }
}

.posts{
  a{
    margin: 0;
  }
  h6{
    font-weight: bold;
    font-size: 17px;
  }
  p{
    font-size: 14px;
    color: #A2A2A2;
  }
}

// photography

.photography{
  nav{
    .nav-link{
      color: $white;
      font-weight: bold;
    }
  }
}

// Portfolio

.pic-block{
  img{
    width: 100%;
  }
}

// Portfolio 2

.portfolio-2{
  .img-row{
    .col{
      padding: 0;
    }
    img{
      width: 100%;
    }
  }
  .lulz a{
    color:blue;
    &:hover{
      color:orange;
    }
  }
}

.tabs{
  width:60%;
  margin:0 auto;
  ul{
    list-style-type:none;
    li{
      padding:5px 12px;
      margin:0px 7px;
      background-color:rgba(0,0,0,0.3);
      border-radius:5px;
      &:hover{
        background-color:rgba(0,0,0,0.1);
      }
      a{
        color:black;
        &:hover{
          color:blue;
        }
      }
    }
  }
}

// Nav in dropdown

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: -100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  // border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  // border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 0px 0 6px 6px;
  -moz-border-radius: 0px 0 6px 6px;
  border-radius: 0px 0 6px 6px;
}
.dropdown-menu::before,
.dropdown-menu::after {
    border: none;
    content: none;
}

.specialbuttondelalife{
  text-align:center;
  padding:15px 20px;
  border:solid rgba(0,0,0,0.3) 0.5px;
  border-radius:0;
}
// end nav

// Authors blog
.author{
  color:white;
  background-color:blue;
  padding-bottom:12rem;
  .fuckoff{
    width:90%;
    margin:0 auto;
  }
  .paddingfest{
    padding:5rem 2rem;
    background-color:grey;
  }
  .supermargin{

  }
  .upper-divider{
    background-color:#6A7DF1;
    margin:20px 0px;
  }
  h2{
    font-family:'Satisfy', cursive;
    font-size:40px;
  }
  p{
    width:50%;
    color:#6A7DF1;

  }
}
// End authors blog
.foot{
  img{
    padding: 0 10px;
  }
  small{
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

// BLOG GRID
.blog-grid{
  .upper-divider{
    background-color: $white;
  }
  .box-1{
    a{
      color: $white;
    }
    padding-top: 15rem;
    padding-bottom: 5rem;
    h3{
      text-transform: uppercase;
      font-weight: bold;
      font-size: 50px;
    }
  }
}
.black-background{
  background-color: rgb(6, 6, 6);
}
// CONTACT US
.contact-us{
  .box-1{
    a{
      border: 1px solid $purple;
      border-radius: 100%;
      padding: 15px 30px;
      margin-bottom: 10px;
      background-color: $purple;
      font-size: 45px;
    }
    svg{
      color: $white;

    }
  }
}
