.main{
  .info{
    font-size: 11px;

    .row{
      div{
        border: 0.3px solid;
        padding: 10px 0px;
      }
    }
  }
}
.navbar{
  text-transform: uppercase;
  font-size: 12px;
}
.dropdown-item{
  font-size: 12px;
  text-transform: capitalize;
}
.purple{
  a{
    color: #622DF8;
  }
}
